@use '../utils/variables.scss' as *;
.button {
  background-color: $colorAccent; // Используем переменные из variables.scss
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &__icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }

  &__primary {
    background-color: $colorDark;
  }

  &__secondary {
    background-color: $colorDark;
  }

  &:hover {
    opacity: 0.9;
  }
}
