@use '/src/styles/utils/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  &__title {
    font-family: $fontNunitoSans;
    font-size: 32px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 700;
  }
  &__description {
    font-size: 20px;
    font-weight: 400;
  }
}
