@use '/src/app/styles/utils/variables.scss' as *;
@use '/src/app/styles/utils/mixins.scss' as *;

.app {
  margin-inline: auto;
  cursor: none;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
