@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.home {
  @include flex-center;
  flex-direction: column;
  max-width: 1280px;
  margin-inline: auto;
}

@media screen and (max-width: 1280px) {
  .home {
    padding-inline: 80px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-inline: 40px;
  }
  .main {
    width: 100%;
  }
}
