@use './base/reset.scss' as *;
@use './base/typography.scss' as *;
@use './utils/variables.scss' as *;
@use './utils/mixins.scss' as *;

#root {
  font-family: $fontManrope;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $colorDark;
  color: $colorLight;
}

section {
  width: 100%;
  margin-block: 140px;
}

button {
  @include flex-center;
  border: none;
  background-color: inherit;
  font-size: 24px;
  font-weight: 400;
  color: $colorLight;

  &:hover {
    cursor: none;
  }
}

a {
  text-decoration: none;
  color: inherit;

  font-size: 24px;
  font-weight: 400;

  &:hover {
    transition: color 0.5s ease;
    cursor: none;
  }
}

h1 {
  font-family: $fontNunitoSans;
  font-size: 120px;
  font-weight: 900;
  line-height: 163.68px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 65.57px;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32.78px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 65.47px;
  }

  h2 {
    font-size: 24px;
    line-height: 32.78px;
  }

  p {
    font-size: 16px;
    line-height: 21.86px;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
  }

  li {
    font-size: 16px;
    line-height: 21.86px;
    text-align: justify;
    margin-block-end: 10px;
    hyphens: auto;
  }

  button {
    font-size: 16px;
    line-height: 21.86px;
    padding: 0;
  }
}
