@use './base/reset.scss' as *;
@use './base/typography.scss' as *;
@use './utils/variables.scss' as *;
@use './utils/mixins.scss' as *;

#root {
  font-family: $fontManrope;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $colorDark;
  color: $colorLight;
}

button {
  @include flex-center;
  border: none;
  background-color: inherit;
  font-size: 24px;
  font-weight: 400;
  color: $colorLight;
  cursor: pointer;
}

