@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.container {
  @include flex-center;

  color: $colorAccent;
  overflow: hidden;
}

.carousel {
  @include flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  &__wordContainer {
    display: flex;
    align-items: center;

    &.staticContainer {
      width: min-content;
    }
    &.dinamicContainer {
      gap: 20px;
      width: 50%;
    }
  }

  &__fixedText {
    @include active-words;
  }

  &__word {
    @include disabled-words;
  }
  &__wordActive {
    @include active-words;
    margin-inline-end: 0;
    // transform: translateX(200%);
    transition: transform 2s ease;
  }
  &__wordLeave {
    @include disabled-words;
    margin-inline-end: 0;
    transform: translateX(+200%);
    transition:
      transform 1s ease,
      opacity 1s ease,
      font-size 1s ease;
    // color 2s ease;
  }
  &__wordEnter {
    @include active-words;
    margin-inline-end: 0;
    transform: translateX(0, 100%);
    transition:
      transform 1s ease,
      opacity 1s ease,
      font-size 1s ease;
  }
  &__wordOne {
    @include disabled-words;
    // transform: translateX(500%);
    transition: transform 2s ease;
  }
  &__wordTwo {
    @include disabled-words;

    transform: translateX(0);
    transition: transform 2s ease;
  }
  &__wordThree {
    @include disabled-words;

    transform: translateX(0);
    transition: transform 2s ease;
  }
  &__wordFour {
    @include disabled-words;

    transform: translateX(0);
    transition: transform 2s ease;
  }
  &__wordFive {
    @include disabled-words;

    transform: translateX(0);
    transition: transform 2s ease;
  }
  &__wordSix {
    @include disabled-words;

    transform: translateX(0);
    transition: transform 2s ease;
  }
}
