@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.header {
  @include flex-between;
  width: 100%;
  margin-block: 40px 27px;
  align-items: flex-start;

  &__item {
    flex: 1;
  }

  &__logo {
    color: $colorAccent;
    font-size: 24px;
    font-weight: 400;
  }

  &__language {
    display: flex;
    justify-content: center;
  }

  &__buttonAboutWrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__buttonAbout {
    width: max-content;
    justify-content: flex-end;
    position: relative;
    transition: all 0.5s ease;
    padding-inline: 0;
    &:hover {
      color: $colorAccent;
      text-shadow: 0px 0px 10px $colorAccent;
    }
    &::after {
      content: '';
      position: absolute;
      top: 30px;
      width: 100%;
      height: 100%;
      color: $colorAccent;
      background-image: url('../../../assets/image/ArrowS.svg');
      background-size: contain;
      background-repeat: no-repeat;
      animation: emergence 2.5s infinite both;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-block: 20px 10px;

    &__logo {
      font-size: 16px;
      line-height: 21.86px;
    }
  }
}

@keyframes emergence {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%); /* Смещение на половину длины строки */
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
