@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles//utils/mixins.scss' as *;

.portfolio {
  @include flex-center;
  flex-direction: column;
  align-items: normal;
  gap: 64px;

  &__titleContainer {
    @include flex-start;
    margin: 40px 0 27px;
  }

  &__title {
    font-size: 48px;
    font-weight: 800;
    line-height: 65.57px;
  }

  &__cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    gap: 40px;

    &__titleContainer {
      margin: 0;
    }
  }
}
